html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
h1
{
    color: #white;
}

p {
    color: #white;
}

a {
    color: #ff6a00;
}
body {
    background-color: #1f1f1f;
    color: ghostwhite;
    margin-bottom: 60px;
}

div_car {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/car.jpg");
    height: 400px;
    width: 100%;
}